* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    background-size: 100% 100%;
    min-height: 90vh;
    font-family: Roboto, sans-serif;
font-size: 13px;
    /* background: linear-gradient(to right,
            #2f50e4 0%, #5954e8 50%,
            #afeeee00 50%, #afeeee00 100%); */
            background: linear-gradient(
                to right,
                #7568a9 0%, #c1dbfa 50%,
                paleturquoise 50%,
                #ffffff  100%
              );
              background-repeat: no-repeat;
              /* overflow: hidden; */
}

.login_page {

    margin-top:2rem;
    display: flex;
    justify-content: center;
    align-items: center;
gap:1rem;
}

.login_left img{
    width: 70%;
}
.login_left {
    text-align: center;
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 8rem;
}
.login_left p{
    padding-bottom: 2rem;
    font-family:Roboto, sans-serif ;
    font-size:15px;
    letter-spacing: normal;
    color: #5d5982;
    font-weight: 400;
}

.login_right {
    /* width: 50%; */
    display: flex;
    gap: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login_right form{
    display: flex;
    flex-direction: column;
}
/* .login_right img{
    width: 6rem;
} */

/* form */


.form-container {
    border-radius: 8px;
}
.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


.form-container form input{
    width: 29rem;
    height: 3rem;
    border-radius: 0.6rem;
}


.form-container form button{
    height: 3rem;
    border-radius: 0.6rem;
}

@media(max-width: 1150px){
    .form-container form input {
        width: 20rem;
    }
    .login_page {
    gap: 0rem;
    }
    .login_left img {
        width: 80%;
    }
  
    .login_left h1 {
        font-size: 1.5rem;
        text-align:start;
    }
  }
  @media(max-width: 950px){
    .login_left{
       display: none;
    }
  }

  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeInDown {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes fadeInDown {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    } 
.customAni{
    
animation: customAni 9s ease-out 0s infinite reverse none;
}

/* Copy code to element you want to animate */
 /* Copy code to element you want to animate */
/* Copy this code after the above code */
/* Copy this code after the above code */
@keyframes customAni {
    0% {
        animation-timing-function: ease-in;
        opacity: 1;
        transform: translateY(-15px);
    }
    
    24% {
        opacity: 1;
    }
    40% {
        animation-timing-function: ease-in;
        transform: translateY(-22px);
    }
    65% {
        animation-timing-function: ease-in;
        transform: translateY(-22px);
    }
    82% {
        animation-timing-function: ease-in;
        transform: translateY(-22px);
    }
    93% {
        animation-timing-function: ease-in;
        transform: translateY(-41px);
    }
  
    25%,
    55%,
    75%,
    87% {
      animation-timing-function: ease-out;
      transform: translateY(-3px);
    }
  
    100% {
      animation-timing-function: ease-out;
      opacity: 1;
      transform: translateY(0px);
    }
  }
  


  .co_box {
    margin: 0;
    /* background: #ecf0f3; */
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    place-items: center;
 
padding: 15%;
  }
  
  .container {
    position: relative;
    width: 350px;
    height: 470px;
    border-radius: 23px;
    padding: 40px;
    box-sizing: border-box;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
  }
  
  .brand-logo {
    /* height: 100px; */
    width:6rem;
    /* background: url("./.png"); */
    margin: auto;
    border-radius: 0.7rem;
    padding-top: 0.4rem;
    padding-bottom: 0.6rem;
    padding-left: 0.7rem;
    padding-right:0.7rem ;
    box-sizing: border-box;
    box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
  }
  
  .brand-title {
    margin-top: 10px;
    font-weight: 900;
    font-size: 1.8rem;
    color: #1DA1F2;
    letter-spacing: 1px;
  }
  
  .inputs {
    text-align: left;
    /* margin-top: 20px; */
  }
  
  label, input, button {
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
  }
  
  label {
    margin-bottom: 4px;
  }
  
  label:nth-of-type(2) {
    margin-top: 12px;
  }
  
  input::placeholder {
    color: gray;
  }
  
  input {
    background: #ecf0f3;
    padding: 10px;
    padding-left: 20px;
    height: 50px;
    font-size: 13px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
  }
  .sub a{
    text-decoration: none;
    color: white;
  }
  button {
    color: white;
    margin-top: 20px;
    background: #1DA1F2;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;

    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
    transition: 0.5s;
  }
  
  button:hover {
    box-shadow: none;
  }


.social-signup a img{
width: 2rem;
}
.terms{
display: flex;
margin-top: 11px;
}
.terms input{
height:15px;
box-shadow:none; 
width: 15px;
margin-top: 5px;
margin-right: 10px;
}
/* 
.login_left{
background: url(../img/a1\ \(7\).png);
background-repeat: no-repeat;
background-size:cover;
} */
.inputs,.co_box .container{
display: flex;
flex-direction: column;
gap: 1rem;
}

/* jj */
.tada {
-webkit-animation-name: tada;
animation-name: tada;
-webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}
@-webkit-keyframes tada {
0% {
-webkit-transform: scale3d(1, 1, 1);
transform: scale3d(1, 1, 1);
}
10%, 20% {
-webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
}
30%, 50%, 70%, 90% {
-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
}
40%, 60%, 80% {
-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
}
100% {
-webkit-transform: scale3d(1, 1, 1);
transform: scale3d(1, 1, 1);
}
}
@keyframes tada {
0% {
-webkit-transform: scale3d(1, 1, 1);
transform: scale3d(1, 1, 1);
}
10%, 20% {
-webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
}
30%, 50%, 70%, 90% {
-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
}
40%, 60%, 80% {
-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
}
100% {
-webkit-transform: scale3d(1, 1, 1);
transform: scale3d(1, 1, 1);
}
} 




/* ani */

.ripple-background{
    /* overflow: hidden; */
    position: absolute;
    z-index: -4;
    left: 0;
}
.circle{
    position: absolute;
    z-index: -14;
    /* top: 8%; */
    border-radius: 50%;
    background: rgba(201, 243, 245, 0.188);
    animation: ripple 6s infinite;
    box-shadow: 0px 0px 1px 0px #508fb944;

  }
  
  .small{
    width: 300px;
    height: 300px;
    left: -150px;
    bottom: -150px;
  }
  
  .medium{
    width: 400px;
    height: 400px;
    left: -200px;
    bottom: -200px;
  }
  
  .large{
    width: 600px;
    height: 600px;
    left: -300px;
    bottom: -300px;
  }
  
  .xlarge{
    width: 800px;
    height: 800px;
    left: -400px;
    bottom: -400px;
  }
  
  .xxlarge{
    width: 1000px;
    height: 1000px;
    left: -500px;
    bottom: -500px;
  }
  
  .shade1{
    opacity: 0.2;
  }
  .shade2{
    opacity: 0.5;
  }
  
  .shade3{
    opacity: 0.7;
  }
  
  .shade4{
    opacity: 0.8;
  }
  
  .shade5{
    opacity: 0.9;
  }
  
  @keyframes ripple{
    0%{
      transform: scale(0.1);
    }
    
    50%{
      transform: scale(0.4);
    }
    
    100%{
      transform: scale(0.5);
    }
  }
  

  @media(max-width: 950px){
  
    .container {
      box-shadow: 20px 18px 20px #cbced1, -3px -3px 20px #e7e7e7;
  }
  .login_right img {
    width: 7rem;
}
  }

